equipo.dtd

<!ELEMENT equipos (equipo+)>
<!ELEMENT equipo (nombre,ciudad,entrenador,jugadores)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>
<!ELEMENT diudad (#PCDATA)>
<!ELEMENT entrenador EMPTY>
<!ELEMENT jugadores (jugador+)>
<!ELEMENT jugador (nombre,nacionalidad)>
<!ATTLIST jugador posicion (portero | defensa | medio | delantero)> 
